server {
    listen   80;
    server_name app.dev;
    rewrite 301 http://app.dev$request_uri permanent;

    # root directive should be global
    root   /var/www/app.dev/webroot/;
    index  index.php;

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    location / {
        try_files $uri /index.php?$args;
    }

    location ~ \.php$ {
        try_files $uri =404;
        #fastcgi_pass    127.0.0.1:9000;
        fastcgi_pass    unix:/var/run/php5-fpm.sock;
        fastcgi_index   index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }
}